In [98]:
# import libraries
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.model_selection import train_test_split

print(tf.__version__)

2.11.0

In [99]:
data = pd.read_csv('train_data.csv')
dataT = pd.read_csv('test_data.csv')

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29020 entries, 0 to 29019
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   BookingID                29020 non-null  int64
 1   LeadTime                 29020 non-null  int64
 2   ArrivalYear              29020 non-null  int64
 3   ArrivalMonth             29020 non-null  int64
 4   ArrivalDate              29020 non-null  int64
 5   NumWeekendNights         29020 non-null  int64
 6   NumWeekNights            29020 non-null  int64
 7   MealPlan                 29020 non-null  object
 8   Parking                  29020 non-null  int64
 9   RoomType                 29020 non-null  object
 10  NumAdults                29020 non-null  int64
 11  NumChildren              29020 non-null  int64
 12  MarketSegment            29020 non-null  object
 13  RepeatedGuest            29020 non-null  int64
 14  NumPrevCancellations     29020 non-null  int64
 15  NumPreviousNonCancelled  29020 non-null  int64
 16  AvgRoomPrice             29020 non-null  float64
 17  SpecialRequests          29020 non-null  int64
 18  BookingStatus            29020 non-null  object
dtypes: float64(1), int64(14), object(4)
memory usage: 4.2+ MB

In [100]:
data['MealPlan'] = pd.factorize(data.MealPlan)[0]
data['RoomType'] = pd.factorize(data.RoomType)[0]
data['MarketSegment'] = pd.factorize(data.MarketSegment)[0]
data['BookingStatus'] = pd.factorize(data.BookingStatus)[0]

dataT['MealPlan'] = pd.factorize(dataT.MealPlan)[0]
dataT['RoomType'] = pd.factorize(dataT.RoomType)[0]
dataT['MarketSegment'] = pd.factorize(dataT.MarketSegment)[0]
dataT['BookingStatus'] = pd.factorize(dataT.BookingStatus)[0]

data

,BookingID,LeadTime,ArrivalYear,ArrivalMonth,ArrivalDate,NumWeekendNights,NumWeekNights,MealPlan,Parking,RoomType,NumAdults,NumChildren,MarketSegment,RepeatedGuest,NumPrevCancellations,NumPreviousNonCancelled,AvgRoomPrice,SpecialRequests,BookingStatus
0,1,10,2018,3,31,0,1,0,0,0,1,0,0,0,0,0,95.00,0,0
1,2,116,2018,2,28,2,1,0,0,0,1,0,1,0,0,0,61.00,0,0
2,3,11,2018,7,25,1,2,0,0,0,2,1,1,0,0,0,129.75,1,1
3,4,3,2017,9,12,0,1,0,0,0,2,0,1,0,0,0,152.00,3,1
4,5,28,2018,3,7,1,3,0,0,0,2,0,2,0,0,0,87.00,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29015,29016,2,2018,11,21,1,2,0,0,0,1,0,1,0,0,0,100.67,1,1
29016,29017,18,2018,4,12,0,2,2,0,0,2,0,1,0,0,0,119.00,1,1
29017,29018,8,2017,9,29,0,3,0,0,0,1,0,0,0,0,0,65.00,0,1
29018,29019,20,2018,9,18,2,2,0,0,0,1,0,2,0,0,0,90.00,0,0
29019,29020,274,2018,7,31,2,1,0,0,3,2,0,1,0,0,0,96.50,1,1

In [101]:
springMonths = [3,4,5], 
summerMonths = [6,7,8],
fallMonths = [9,10,11],
winterMonths = [12, 1, 2]

data["Seasons"] = data["ArrivalMonth"].replace(springMonths, 13)
data["Seasons"] = data["Seasons"].replace(summerMonths, 14)
data["Seasons"] = data["Seasons"].replace(fallMonths, 15)
data["Seasons"] = data["Seasons"].replace(winterMonths, 16)

data

,BookingID,LeadTime,ArrivalYear,ArrivalMonth,ArrivalDate,NumWeekendNights,NumWeekNights,MealPlan,Parking,RoomType,NumAdults,NumChildren,MarketSegment,RepeatedGuest,NumPrevCancellations,NumPreviousNonCancelled,AvgRoomPrice,SpecialRequests,BookingStatus,Seasons
0,1,10,2018,3,31,0,1,0,0,0,1,0,0,0,0,0,95.00,0,0,13
1,2,116,2018,2,28,2,1,0,0,0,1,0,1,0,0,0,61.00,0,0,16
2,3,11,2018,7,25,1,2,0,0,0,2,1,1,0,0,0,129.75,1,1,14
3,4,3,2017,9,12,0,1,0,0,0,2,0,1,0,0,0,152.00,3,1,15
4,5,28,2018,3,7,1,3,0,0,0,2,0,2,0,0,0,87.00,0,1,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29015,29016,2,2018,11,21,1,2,0,0,0,1,0,1,0,0,0,100.67,1,1,15
29016,29017,18,2018,4,12,0,2,2,0,0,2,0,1,0,0,0,119.00,1,1,13
29017,29018,8,2017,9,29,0,3,0,0,0,1,0,0,0,0,0,65.00,0,1,15
29018,29019,20,2018,9,18,2,2,0,0,0,1,0,2,0,0,0,90.00,0,0,15
29019,29020,274,2018,7,31,2,1,0,0,3,2,0,1,0,0,0,96.50,1,1,14

In [102]:
data["Duration"] = data["NumWeekNights"] + data["NumWeekendNights"]

data

,BookingID,LeadTime,ArrivalYear,ArrivalMonth,ArrivalDate,NumWeekendNights,NumWeekNights,MealPlan,Parking,RoomType,...,NumChildren,MarketSegment,RepeatedGuest,NumPrevCancellations,NumPreviousNonCancelled,AvgRoomPrice,SpecialRequests,BookingStatus,Seasons,Duration
0,1,10,2018,3,31,0,1,0,0,0,...,0,0,0,0,0,95.00,0,0,13,1
1,2,116,2018,2,28,2,1,0,0,0,...,0,1,0,0,0,61.00,0,0,16,3
2,3,11,2018,7,25,1,2,0,0,0,...,1,1,0,0,0,129.75,1,1,14,3
3,4,3,2017,9,12,0,1,0,0,0,...,0,1,0,0,0,152.00,3,1,15,1
4,5,28,2018,3,7,1,3,0,0,0,...,0,2,0,0,0,87.00,0,1,13,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29015,29016,2,2018,11,21,1,2,0,0,0,...,0,1,0,0,0,100.67,1,1,15,3
29016,29017,18,2018,4,12,0,2,2,0,0,...,0,1,0,0,0,119.00,1,1,13,2
29017,29018,8,2017,9,29,0,3,0,0,0,...,0,0,0,0,0,65.00,0,1,15,3
29018,29019,20,2018,9,18,2,2,0,0,0,...,0,2,0,0,0,90.00,0,0,15,4
29019,29020,274,2018,7,31,2,1,0,0,3,...,0,1,0,0,0,96.50,1,1,14,3

In [103]:
withChild = data[data["NumChildren"] > 0]
withChild["Total People"] = withChild["NumAdults"] + withChild["NumChildren"]

withChild

C:\Users\pikak\AppData\Local\Temp\ipykernel_1900\52279377.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  withChild["Total People"] = withChild["NumAdults"] + withChild["NumChildren"]

,BookingID,LeadTime,ArrivalYear,ArrivalMonth,ArrivalDate,NumWeekendNights,NumWeekNights,MealPlan,Parking,RoomType,...,MarketSegment,RepeatedGuest,NumPrevCancellations,NumPreviousNonCancelled,AvgRoomPrice,SpecialRequests,BookingStatus,Seasons,Duration,Total People
2,3,11,2018,7,25,1,2,0,0,0,...,1,0,0,0,129.75,1,1,14,3,3
10,11,66,2017,11,19,0,3,0,0,1,...,1,0,0,0,135.00,3,1,15,3,4
13,14,280,2018,12,6,0,3,0,0,0,...,1,0,0,0,94.50,2,0,16,3,3
24,25,4,2018,10,14,0,2,0,0,0,...,3,1,0,7,0.00,1,1,15,2,3
25,26,53,2018,9,17,2,2,0,0,0,...,2,0,0,0,80.75,0,1,15,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28982,28983,11,2018,11,5,0,1,0,0,0,...,1,0,0,0,150.00,1,0,15,1,3
28983,28984,72,2017,9,19,2,4,0,0,0,...,2,0,0,0,71.40,1,1,15,6,3
28992,28993,33,2018,5,9,1,3,0,0,0,...,1,0,0,0,143.10,0,0,13,4,3
28997,28998,3,2018,11,9,0,4,0,0,1,...,1,0,0,0,246.25,1,1,15,4,4
29001,29002,38,2017,10,31,2,4,0,0,0,...,2,0,0,0,64.72,1,1,15,6,3

In [104]:
withoutChild = data[data["NumChildren"] == 0]
withoutChild["Total People"] = withoutChild["NumAdults"]
withoutChild

C:\Users\pikak\AppData\Local\Temp\ipykernel_1900\1583552594.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  withoutChild["Total People"] = withoutChild["NumAdults"]

,BookingID,LeadTime,ArrivalYear,ArrivalMonth,ArrivalDate,NumWeekendNights,NumWeekNights,MealPlan,Parking,RoomType,...,MarketSegment,RepeatedGuest,NumPrevCancellations,NumPreviousNonCancelled,AvgRoomPrice,SpecialRequests,BookingStatus,Seasons,Duration,Total People
0,1,10,2018,3,31,0,1,0,0,0,...,0,0,0,0,95.00,0,0,13,1,1
1,2,116,2018,2,28,2,1,0,0,0,...,1,0,0,0,61.00,0,0,16,3,1
3,4,3,2017,9,12,0,1,0,0,0,...,1,0,0,0,152.00,3,1,15,1,2
4,5,28,2018,3,7,1,3,0,0,0,...,2,0,0,0,87.00,0,1,13,4,2
5,6,213,2018,6,7,0,3,0,0,0,...,1,0,0,0,130.00,0,0,14,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29015,29016,2,2018,11,21,1,2,0,0,0,...,1,0,0,0,100.67,1,1,15,3,1
29016,29017,18,2018,4,12,0,2,2,0,0,...,1,0,0,0,119.00,1,1,13,2,2
29017,29018,8,2017,9,29,0,3,0,0,0,...,0,0,0,0,65.00,0,1,15,3,1
29018,29019,20,2018,9,18,2,2,0,0,0,...,2,0,0,0,90.00,0,0,15,4,1
29019,29020,274,2018,7,31,2,1,0,0,3,...,1,0,0,0,96.50,1,1,14,3,2

In [105]:
withChildCleaned = withChild.drop([
                                    "ArrivalYear", 
                                    "ArrivalMonth", 
                                    "ArrivalDate", 
                                    "NumWeekendNights", 
                                    "NumWeekNights", 
                                    "Parking", 
                                    "NumAdults",
                                    "NumChildren",
                                    "RepeatedGuest",
                                    "NumPrevCancellations",
                                    "NumPreviousNonCancelled"
                                ], axis=1)

withChildCleaned

,BookingID,LeadTime,MealPlan,RoomType,MarketSegment,AvgRoomPrice,SpecialRequests,BookingStatus,Seasons,Duration,Total People
2,3,11,0,0,1,129.75,1,1,14,3,3
10,11,66,0,1,1,135.00,3,1,15,3,4
13,14,280,0,0,1,94.50,2,0,16,3,3
24,25,4,0,0,3,0.00,1,1,15,2,3
25,26,53,0,0,2,80.75,0,1,15,4,3
...,...,...,...,...,...,...,...,...,...,...,...
28982,28983,11,0,0,1,150.00,1,0,15,1,3
28983,28984,72,0,0,2,71.40,1,1,15,6,3
28992,28993,33,0,0,1,143.10,0,0,13,4,3
28997,28998,3,0,1,1,246.25,1,1,15,4,4
29001,29002,38,0,0,2,64.72,1,1,15,6,3

In [106]:

withoutChildCleaned = withoutChild.drop([
                                    "ArrivalYear", 
                                    "ArrivalMonth", 
                                    "ArrivalDate", 
                                    "NumWeekendNights", 
                                    "NumWeekNights", 
                                    "Parking", 
                                    "NumAdults",
                                    "NumChildren",
                                    "RepeatedGuest",
                                    "NumPrevCancellations",
                                    "NumPreviousNonCancelled"
                                ], axis=1)

withoutChildCleaned

,BookingID,LeadTime,MealPlan,RoomType,MarketSegment,AvgRoomPrice,SpecialRequests,BookingStatus,Seasons,Duration,Total People
0,1,10,0,0,0,95.00,0,0,13,1,1
1,2,116,0,0,1,61.00,0,0,16,3,1
3,4,3,0,0,1,152.00,3,1,15,1,2
4,5,28,0,0,2,87.00,0,1,13,4,2
5,6,213,0,0,1,130.00,0,0,14,3,2
...,...,...,...,...,...,...,...,...,...,...,...
29015,29016,2,0,0,1,100.67,1,1,15,3,1
29016,29017,18,2,0,1,119.00,1,1,13,2,2
29017,29018,8,0,0,0,65.00,0,1,15,3,1
29018,29019,20,0,0,2,90.00,0,0,15,4,1
29019,29020,274,0,3,1,96.50,1,1,14,3,2

In [107]:
groupping = data.groupby(['Seasons', 'RoomType', 'MarketSegment']).agg({
                                                'BookingID': 'count',
                                                'BookingStatus': [lambda x: sum(x==0),lambda x: sum(x==1)]
                                            })


groupping= groupping.rename(columns={
                            'count': 'Total Booking',
                            '<lambda_0>': 'Total Canceled',
                            '<lambda_1>': 'Total Not Canceled'
                        })
groupping.to_csv('result\groupby.csv')

groupping.head(50)

                                   BookingID  BookingStatus
                               Total Booking Total Canceled Total Not Canceled
Seasons RoomType MarketSegment
13      0        0                       322             61                261
                 1                      2779            982               1797
                 2                      1352            460                892
                 3                        26              0                 26
                 4                        33             10                 23
        1        1                       175             95                 80
                 2                         2              0                  2
                 3                         2              0                  2
        2        0                        23              5                 18
                 1                      1145            431                714
                 2                        76              3                 73
                 3                        11              0                 11
                 4                        14             11                  3
        3        1                        92             32                 60
                 2                        16              5                 11
        4        0                         7              0                  7
                 1                        18              6                 12
                 2                        10              0                 10
                 3                         1              0                  1
        5        1                        13              6                  7
                 3                         8              0                  8
14      0        0                       231             27                204
                 1                      3733           1628               2105
                 2                      2054            805               1249
                 3                        46              0                 46
                 4                         7              1                  6
        1        1                       239            113                126
                 2                         2              2                  0
                 3                         1              0                  1
        2        0                        27              8                 19
                 1                      1280            594                686
                 2                        85             18                 67
                 3                         7              0                  7
        3        1                       156             77                 79
                 2                         9              0                  9
                 3                         5              0                  5
        4        0                        18              4                 14
                 1                        14              5                  9
                 2                        20              7                 13
                 3                         5              0                  5
        5        1                        38             14                 24
                 2                         1              1                  0
                 3                         7              0                  7
15      0        0                       491             36                455
                 1                      4382           1573               2809
                 2                      3310           1129               2181
                 3                        81              0                 81
                 4                         7              2                  5
        1        0                         2              0                  2
                 1                       221             87                134

In [108]:
groupping = withChildCleaned.groupby(['Seasons', 'RoomType', 'MarketSegment']).agg({
                                                'BookingID': 'count',
                                                'BookingStatus': [lambda x: sum(x==0),lambda x: sum(x==1)]
                                            })


groupping= groupping.rename(columns={
                            'count': 'Total Booking',
                            '<lambda_0>': 'Total Canceled',
                            '<lambda_1>': 'Total Not Canceled'
                        })
groupping.to_csv('result\wc_groupby.csv')

groupping.head(50)

                                   BookingID  BookingStatus
                               Total Booking Total Canceled Total Not Canceled
Seasons RoomType MarketSegment
13      0        0                         1              0                  1
                 1                       181             60                121
                 2                        24              2                 22
                 3                         1              0                  1
        1        1                       156             88                 68
        2        1                        28             10                 18
                 2                         5              1                  4
        3        1                        24              9                 15
                 2                         1              0                  1
        4        1                         3              1                  2
                 2                         1              0                  1
        5        1                         7              3                  4
14      0        0                         2              0                  2
                 1                       428            190                238
                 2                        30              3                 27
        1        1                       227            109                118
                 2                         2              2                  0
                 3                         1              0                  1
        2        1                        60             21                 39
                 2                         9              3                  6
                 3                         1              0                  1
        3        1                        49             26                 23
                 2                         1              0                  1
                 3                         3              0                  3
        4        0                         1              0                  1
                 1                         3              0                  3
                 2                         4              1                  3
                 3                         3              0                  3
        5        1                        29             12                 17
                 3                         1              0                  1
15      0        0                         2              0                  2
                 1                       189             67                122
                 2                        36              2                 34
                 3                         2              0                  2
        1        0                         1              0                  1
                 1                       178             76                102
                 2                         6              0                  6
                 3                         1              0                  1
        2        1                        20              6                 14
                 2                         8              0                  8
                 3                         4              0                  4
        3        0                         1              0                  1
                 1                        35             12                 23
                 2                         2              0                  2
                 3                         3              0                  3
        4        1                         1              1                  0
        5        1                        11              4                  7
16      0        0                         1              0                  1
                 1                       144             33                111
                 2                        25              0                 25

In [109]:
groupping = withChildCleaned.groupby(['Seasons', 'RoomType', 'MarketSegment']).agg({
                                                'BookingID': 'count',
                                                'BookingStatus': [lambda x: sum(x==0),lambda x: sum(x==1)]
                                            })


groupping= groupping.rename(columns={
                            'count': 'Total Booking',
                            '<lambda_0>': 'Total Canceled',
                            '<lambda_1>': 'Total Not Canceled'
                        })
groupping.to_csv('result\woc_groupby.csv')

groupping.head(50)

                                   BookingID  BookingStatus
                               Total Booking Total Canceled Total Not Canceled
Seasons RoomType MarketSegment
13      0        0                         1              0                  1
                 1                       181             60                121
                 2                        24              2                 22
                 3                         1              0                  1
        1        1                       156             88                 68
        2        1                        28             10                 18
                 2                         5              1                  4
        3        1                        24              9                 15
                 2                         1              0                  1
        4        1                         3              1                  2
                 2                         1              0                  1
        5        1                         7              3                  4
14      0        0                         2              0                  2
                 1                       428            190                238
                 2                        30              3                 27
        1        1                       227            109                118
                 2                         2              2                  0
                 3                         1              0                  1
        2        1                        60             21                 39
                 2                         9              3                  6
                 3                         1              0                  1
        3        1                        49             26                 23
                 2                         1              0                  1
                 3                         3              0                  3
        4        0                         1              0                  1
                 1                         3              0                  3
                 2                         4              1                  3
                 3                         3              0                  3
        5        1                        29             12                 17
                 3                         1              0                  1
15      0        0                         2              0                  2
                 1                       189             67                122
                 2                        36              2                 34
                 3                         2              0                  2
        1        0                         1              0                  1
                 1                       178             76                102
                 2                         6              0                  6
                 3                         1              0                  1
        2        1                        20              6                 14
                 2                         8              0                  8
                 3                         4              0                  4
        3        0                         1              0                  1
                 1                        35             12                 23
                 2                         2              0                  2
                 3                         3              0                  3
        4        1                         1              1                  0
        5        1                        11              4                  7
16      0        0                         1              0                  1
                 1                       144             33                111
                 2                        25              0                 25