In [208]:
# import libraries
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.model_selection import train_test_split

print(tf.__version__)

2.11.0

In [209]:
data = pd.read_csv('train_data.csv')
dataT = pd.read_csv('test_data.csv')

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29020 entries, 0 to 29019
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   BookingID                29020 non-null  int64
 1   LeadTime                 29020 non-null  int64
 2   ArrivalYear              29020 non-null  int64
 3   ArrivalMonth             29020 non-null  int64
 4   ArrivalDate              29020 non-null  int64
 5   NumWeekendNights         29020 non-null  int64
 6   NumWeekNights            29020 non-null  int64
 7   MealPlan                 29020 non-null  object
 8   Parking                  29020 non-null  int64
 9   RoomType                 29020 non-null  object
 10  NumAdults                29020 non-null  int64
 11  NumChildren              29020 non-null  int64
 12  MarketSegment            29020 non-null  object
 13  RepeatedGuest            29020 non-null  int64
 14  NumPrevCancellations     29020 non-null  int64
 15  NumPreviousNonCancelled  29020 non-null  int64
 16  AvgRoomPrice             29020 non-null  float64
 17  SpecialRequests          29020 non-null  int64
 18  BookingStatus            29020 non-null  object
dtypes: float64(1), int64(14), object(4)
memory usage: 4.2+ MB

In [210]:
data['MealPlan'] = pd.factorize(data.MealPlan)[0]
data['RoomType'] = pd.factorize(data.RoomType)[0]
data['MarketSegment'] = pd.factorize(data.MarketSegment)[0]
data['BookingStatus'] = pd.factorize(data.BookingStatus)[0]

dataT['MealPlan'] = pd.factorize(dataT.MealPlan)[0]
dataT['RoomType'] = pd.factorize(dataT.RoomType)[0]
dataT['MarketSegment'] = pd.factorize(dataT.MarketSegment)[0]
dataT['BookingStatus'] = pd.factorize(dataT.BookingStatus)[0]

data

,BookingID,LeadTime,ArrivalYear,ArrivalMonth,ArrivalDate,NumWeekendNights,NumWeekNights,MealPlan,Parking,RoomType,NumAdults,NumChildren,MarketSegment,RepeatedGuest,NumPrevCancellations,NumPreviousNonCancelled,AvgRoomPrice,SpecialRequests,BookingStatus
0,1,10,2018,3,31,0,1,0,0,0,1,0,0,0,0,0,95.00,0,0
1,2,116,2018,2,28,2,1,0,0,0,1,0,1,0,0,0,61.00,0,0
2,3,11,2018,7,25,1,2,0,0,0,2,1,1,0,0,0,129.75,1,1
3,4,3,2017,9,12,0,1,0,0,0,2,0,1,0,0,0,152.00,3,1
4,5,28,2018,3,7,1,3,0,0,0,2,0,2,0,0,0,87.00,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29015,29016,2,2018,11,21,1,2,0,0,0,1,0,1,0,0,0,100.67,1,1
29016,29017,18,2018,4,12,0,2,2,0,0,2,0,1,0,0,0,119.00,1,1
29017,29018,8,2017,9,29,0,3,0,0,0,1,0,0,0,0,0,65.00,0,1
29018,29019,20,2018,9,18,2,2,0,0,0,1,0,2,0,0,0,90.00,0,0
29019,29020,274,2018,7,31,2,1,0,0,3,2,0,1,0,0,0,96.50,1,1

In [211]:
springMonths = [3,4,5], 
summerMonths = [6,7,8],
fallMonths = [9,10,11],
winterMonths = [12, 1, 2]

data["Seasons"] = data["ArrivalMonth"].replace(springMonths, 13)
data["Seasons"] = data["Seasons"].replace(summerMonths, 14)
data["Seasons"] = data["Seasons"].replace(fallMonths, 15)
data["Seasons"] = data["Seasons"].replace(winterMonths, 16)

seasons = data.groupby(data["Seasons"])["BookingID"].count()



seasons.head(10)

Seasons
13     6125
14     7985
15    10338
16     4572
Name: BookingID, dtype: int64